<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-car-heading">Create or edit a Car</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_carType">Car Type</label>
                    <input type="text" class="form-control" name="carType" id="field_carType"
                           formControlName="carType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="field_brand"
                           formControlName="brand"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_kwPower">Kw Power</label>
                    <input type="number" class="form-control" name="kwPower" id="field_kwPower"
                           formControlName="kwPower"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usdPrice">Usd Price</label>
                    <input type="number" class="form-control" name="usdPrice" id="field_usdPrice"
                           formControlName="usdPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isRented">Is Rented</label>
                    <input type="checkbox" class="form-control" name="isRented" id="field_isRented"
                           formControlName="isRented"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
